<div
    class="dialog-permalink"
    style="display: {hidden?'none':'block'}; top: 45px; left: 450px;"
>
{#if !loading}
    <input ref:textInput type="text" value="{text}" />
    <button on:click="onCopyClick()" class="copy-button">{translate('alerts.clipboard')}</button>
{:else}
    <span class="permalink-loader">{translate('alerts.wait')}</span>
{/if}
    <button on:click="onCancelClick()">{translate('alerts.cancel')}</button>
</div>

<script>

    import Translations from 'scanex-translations';

    export default {

        data () {
            return {
                hidden: true,
                loading: true,
                text: ''
            };
        },

        methods: {
            onCancelClick() {

                this.set({hidden: true});
            },

            onCopyClick() {

                const input = this.refs.textInput;

                this.fire('copy', input);
                this.set({hidden: true});
            }
        },

        helpers: {
            translate(key) {
                return Translations.getText(key);
            }
        }

    }

</script>