.tingle-modal {
    z-index:1100 !important;
    background: rgba(0,0,0,0.3) !important;
}

.tingle-modal-box {
    width: auto !important;
    -webkit-transition: -webkit-transform .0s cubic-bezier(.175, .885, .32, 1.275) !important;
    transition: -webkit-transform .0s cubic-bezier(.175, .885, .32, 1.275) !important;
    transition: transform .0s cubic-bezier(.175, .885, .32, 1.275) !important;
    transition: transform .0s cubic-bezier(.175, .885, .32, 1.275), -webkit-transform .0s cubic-bezier(.175, .885, .32, 1.275) !important;
}

.tingle-modal-box__content {
    padding: 0px !important;
}

#search-modal-container {
    background-color: #eef2f5 !important;
    border-radius: 5px;
    box-shadow: 0 1px 5.6px 1.4px rgba(88,88,88,.52);
    position: relative;
}

.dialog-content {
    padding: 25px 25px 0;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    text-align: center;
    width: 347px;
}

.dialog-footer {
    padding: 17px;
    text-align: center;
}

.dialog-primary-button {
    border-style: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    display: inline-block;
    height: 35px;
    cursor: pointer;
    background-color: #3ca1d0;
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 0 30px;
}

.dialog-cancel-button {
    border-style: none;        
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;    
    display: inline-block;
    height: 35px;     
    cursor: pointer;
    background-color: transparent;
    color: #8394a8;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 30px 0px 30px;
}
.panel-icon-close {
    padding: 3px;
    display: block;
    width: 10px;  
    height: 10px;        
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/delete.png') !important;
    cursor:pointer;
    position: absolute;
    top: 9px;
    right: 9px;
}

.order-main-dialog .panel-body, .upload-dialog .panel-body {
    background-color: #eef2f5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    min-width: 250px;
    max-width: 350px;
}
.order-main-dialog .header, .upload-dialog .header {
    font-weight: bold;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.upload-dialog .panel-content {
    padding: 0px 10px 5px;
    overflow-y: auto;
    max-height: 300px;
}
.upload-dialog .panel-content .item-header {
    padding-top: 10px;
    font-size: 14px;
}
.upload-dialog .item-data {
    padding: 5px 5px;
    border: 1px solid #a6b6c3;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 14px;
}
.upload-dialog .item-container input, .upload-dialog .item-container span {
    vertical-align: middle;
}
.upload-dialog .item-container span:last-child {
    color: #666666;
}
.order-main-dialog .panel-footer, .upload-dialog .panel-footer {
    text-align: center;
    padding: 10px;
}