.leaflet-gmx-icon {
    background-image: url('img/sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-color: transparent;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 3px;
}

.leaflet-gmx-icon-boxzoom {   
    background-position: 0 0;
}

.leaflet-gmx-icon-download {    
    background-position: 0 -17px;
}

.leaflet-gmx-icon-link {    
    background-position: 0 -34px;
}

.leaflet-gmx-icon-point {    
    background-position: 0 -51px;
}

.leaflet-gmx-icon-polygon {    
    background-position: 0 -68px;
}

.leaflet-gmx-icon-polyline {    
    background-position: 0 -85px;
}

.leaflet-gmx-icon-print {    
    background-position: 0 -102px;
}

.leaflet-gmx-icon-rectangle {    
    background-position: 0 -119px;
}

.leaflet-gmx-icon-upload {
    background-position: 0 -136px;
}
